* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
 
  padding-top: 50px;
  
}

.navbar {
  background-color: rgb(243, 189, 13); 
  padding: 20px;
  position: fixed; /* Set navbar position to fixed */
  width: 100%; /* Make navbar span the entire width of the viewport */
  top: 0; /* Position navbar at the top of the viewport */
  z-index: 1000;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding-right: 50px;
  
}

li a {
  
  text-decoration: none;
  font-size: 12px;
  color: black;
  padding: 10px;
  font-weight: lighter;
  transition: color 0.5s,box-shadow 0.5s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

li a:hover {
  color: white;
  box-shadow: 2px 2px black;
  border-radius: 5px;
}
.myWork{
    
    background-color: rgb(243, 189, 13); 
    text-decoration: none;
    font-size: 12px;
    color: black;
    padding: 10px 110px;
    font-weight: lighter;
    transition: color 0.5s,box-shadow 0.5s,background-color 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .myWork:hover {
    color: white;
    box-shadow: 2px 2px black;
    background-color: black;
  }


.homepage {
  background-color: white;
  color: black;
  background-image: url("./images/bg4-image.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

.welcome-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 200px;
  gap: 50px;
  max-width: 800px;
  margin: 0 auto;
}
.arrow{
  width: 50px;
  height: 50px;
}



.homepage img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  object-fit: cover;
}

.name-intro {
  color: rgb(243, 189, 13);
}

.pic-div {
  display: flex;
  align-items: center;
}

.details {
  flex: 1;
  padding: 50px;
  font-size: 25px;
}

.project-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(83, 82, 82);
}

.project-tile img {
  box-shadow: none;
  width: 40vw;
  height: auto;
  color: black;
  margin: 10px;
  padding: 20px;
  border-radius: 200px;
}

.project-tile p {
  padding: 50px;
 text-align: center;
  margin: 20px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  line-height: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.skills{
display: flex;
align-items: center;
justify-content: center;
padding: 100px;
margin: 100px;
gap: 50px;
}
.skill{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  padding-top: 50px;
}
.skillimage{
  box-shadow: none;
  height: auto;
  width: 60%;
}

#Project{
  margin: 50px;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 60px;
}
.project-container{
  
  padding: 30px;
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
 
  
}

.projects-head {
  color: black;
  font-weight: 900;
  padding-top: 60px;
  padding-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



img {
  width: 20%;
  height: auto;
  box-shadow: 3px 3px 3px black;
}
.textDetails{
  text-align: center;
}
.linkimage {
  width: 20px;
  background-color: rgb(243, 189, 13);
  border-radius: 5px;
  box-shadow: 0 0 0 0;
  padding: 3px;
  border: 1px solid black;
}

.linkimage:hover {
  width: 20px;
  border-radius: 5px;
  padding: 3px;
  border: 1px solid black;
  background-color: white;
}
.imagecontainer {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  margin: 20px;
  border: 1px solid gray;
  color: black;
  transition: 0.5s color;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
  
 
}
.imagecontainer:hover {
  background-color: gray;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  
 

}


.imagecontainer a {

  text-decoration: none;
}


.imagecontainer img{
 
  max-width: 100%;
  height: auto;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
  padding: 100px;
  margin-top: 70px;
  
}

.Contact {
  color: black;
  padding: 20px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Contact a {
  color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.Contact a:hover {
  color: white;
  background-color: rgb(243, 189, 13);
  border-radius: 50%;
}

ion-icon {
  border-radius: 50%;
  padding: 10px;
}


#project-link {
  color: black;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  text-decoration: underline;
  transform: color 0.2s;
}

#project-link:hover {
  color: white;

}

.form {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 50px;
  margin-bottom: 70px;
  border: 1px solid gainsboro;
  background-color: rgb(243, 189, 13);
}

button {
  background-color: black;
  padding: 5px;
  color: rgb(243, 189, 13);
  border: 1px solid grey;
  margin-top: 10px;
  display: block;
  width: 100%;
  border-radius: 5px;
}

textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
}
button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
 
}


#pic1{
  max-width: 100%;
  
}
@media (max-width: 768px) {
  .welcome-div {
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center items horizontally */
  }

  .details {
      text-align: center; /* Center text for better readability */
      padding: 10px; /* Adjust padding for smaller screens */
  }

  #pic1 {
      margin-top: 20px; /* Add space between text and image */
  }
  .projectdetails {
    flex: 0 0 100%; /* Full width on smaller screens */
    
}

  .project-container{
    display: flex;
    flex-direction: column;
   
  }
}